@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
        url('../fonts/ClashDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
        url('../fonts/ClashDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Обнуление стилей */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}
html, body{
    height: 100%;
}
html {
    font-style: 16px;  

}

body {
    font-family: 'ClashDisplay';
    line-height: 1;
    color: #e1e1e1;
    background-color:  #000;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

 
/***************************************/

.mainpage{
    flex-grow: 1;
}

[class*="__container"]{
    margin: 0 auto;
    max-width: 1430px;
    padding: 0 15px;
}

/*
@media (max-width: 1230px){
    [class*="__container"]{
        max-width: 970px;
    }
}
    */