@charset "UTF-8";
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html, body {
  height: 100%;
}

html {
  font-style: 16px;
}

body {
  font-family: "ClashDisplay";
  line-height: 1;
  color: #e1e1e1;
  background-color: #000;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

/***************************************/
.mainpage {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 140px;
}

@media (max-width: 1399.98px) {
  [class*=__container] {
    max-width: 1230px;
    padding: 0 70px;
  }
}
@media (max-width: 1229.98px) {
  [class*=__container] {
    max-width: 970px;
    padding: 0 15px;
  }
}
@media (max-width: 969.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 10px;
  }
}
.header__container {
  padding-top: 24px;
}
.header__body {
  padding: 0 20px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 250px;
     -moz-column-gap: 250px;
          column-gap: 250px;
}
@media (max-width: 1229.98px) {
  .header__body {
    -webkit-column-gap: 125px;
       -moz-column-gap: 125px;
            column-gap: 125px;
  }
}
@media (max-width: 969.98px) {
  .header__body {
    padding: 0 15px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  position: relative;
  z-index: 10;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.header__icon {
  display: none;
}
@media (max-width: 969.98px) {
  .header__icon {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon span, .header__icon::before, .header__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #e1e1e1;
  }
  .header__icon::before, .header__icon::after {
    content: "";
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 969.98px) {
  .header__nav {
    height: 100%;
    width: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-color: #000;
  }
}
.header__nav._active {
  right: 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
@media (max-width: 969.98px) {
  .header__menu {
    padding: 30% 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
  }
}
.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.header__btn {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 11px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

/***************************************/
.car-detailing {
  padding: 140px 0 0 0;
}
@media (max-width: 969.98px) {
  .car-detailing {
    padding: 70px 0 0 0;
  }
}
@media (max-width: 649.98px) {
  .car-detailing {
    padding: 40px 0 0 0;
  }
}
.car-detailing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 649.98px) {
  .car-detailing__body {
    row-gap: 30px;
  }
}
.car-detailing__title {
  font-weight: 500;
  font-size: 96px;
  line-height: 25%;
  text-align: center;
  color: #fff;
}
@media (max-width: 969.98px) {
  .car-detailing__title {
    font-size: 66px;
    line-height: 1;
  }
}
@media (max-width: 649.98px) {
  .car-detailing__title {
    font-size: 46px;
  }
}
.car-detailing__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 28px;
}
.car-detailing__text {
  max-width: 517px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #e1e1e1;
}
@media (max-width: 969.98px) {
  .car-detailing__text {
    font-size: 16px;
  }
}
.car-detailing__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.car-detailing__link-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #fff;
}
@media (max-width: 649.98px) {
  .car-detailing__link-text {
    font-size: 16px;
  }
}
.car-detailing__bg {
  padding: 12px 0 0 0;
}
.car-detailing__img {
  width: 100%;
}

/***************************************/
@media (max-width: 1399.98px) {
  .love-detail__container {
    max-width: 1230px;
    padding: 0 15px;
  }
}
.love-detail__body {
  padding: 16px 0 116px 0;
}
@media (max-width: 649.98px) {
  .love-detail__body {
    padding: 50px 0;
  }
}
.love-detail__block {
  padding: 0 0 34px 0;
  border-bottom: 1px #999 solid;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #999;
}
@media (max-width: 649.98px) {
  .love-detail__block {
    font-size: 16px;
  }
}
.love-detail__info {
  padding: 38px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1229.98px) {
  .love-detail__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
}
.love-detail__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 112%;
  color: #fff;
}
@media (max-width: 1229.98px) {
  .love-detail__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
}
.love-detail__text {
  max-width: 544px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #999;
}
@media (max-width: 1229.98px) {
  .love-detail__text {
    text-align: center;
  }
}
.gallery {
  padding: 74px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
@media (max-width: 1229.98px) {
  .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.gallery__slide {
  max-width: 352px;
}
.gallery__img {
  width: 100%;
}
.gallery__title {
  padding: 32px 0 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}
.gallery__text {
  padding: 10px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999;
}
.gallery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 0 0;
  text-decoration: none;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.gallery__link span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

/***************************************/
.video__body {
  position: relative;
}
.video__player {
  width: 100%;
  -webkit-box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.1);
}
.video__control {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.video__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 270%;
  text-align: center;
  color: #fff;
}

/***************************************/
.your-car__body {
  padding: 188px 0 182px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1399.98px) {
  .your-car__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 649.98px) {
  .your-car__body {
    padding: 80px 0;
  }
}
.left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 112px 0 0;
  border-right: 1px rgba(255, 255, 255, 0.25) solid;
}
@media (max-width: 1399.98px) {
  .left {
    border-right: none;
    padding: 0 0;
  }
}
.left__title {
  max-width: 397px;
  font-weight: 500;
  font-size: 48px;
  line-height: 112%;
  color: #fff;
  margin: 0 0 50px 0;
}
@media (max-width: 1399.98px) {
  .left__title {
    max-width: 1000px;
    text-align: center;
  }
}
@media (max-width: 649.98px) {
  .left__title {
    font-size: 36px;
  }
}
.left__img {
  width: 100%;
}

.right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 0 112px;
}
@media (max-width: 1399.98px) {
  .right {
    padding: 0 0;
  }
}
.right__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 21px;
}
.right__block {
  padding: 0 0 40px 0;
}
.right__block:not(:last-child) {
  border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
}
.right__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.right__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 225%;
  color: #fff;
}
@media (max-width: 649.98px) {
  .right__title {
    font-size: 16px;
  }
}
.right__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ccc;
}
.right__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.right__text-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #fff;
}

/***************************************/
.book__body {
  padding: 0 0 73px 0;
}
.book__block {
  padding: 100px 0 165px 64px;
  background: url(../img/book.png) center/cover no-repeat;
  border-radius: 16px;
}
@media (max-width: 649.98px) {
  .book__block {
    padding: 40px 0 65px 0px;
  }
}
.book__title {
  max-width: 425px;
  margin: 0 0 24px 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 112%;
  color: #fff;
}
@media (max-width: 649.98px) {
  .book__title {
    font-size: 24px;
  }
}
.book__text {
  max-width: 348px;
  margin: 0 0 30px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ccc;
}
.book__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.book__text-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #fff;
}

/***************************************/
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 66px 0;
  border-bottom: 1px solid #555;
}
@media (max-width: 969.98px) {
  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
}
.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
}
@media (max-width: 969.98px) {
  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.footer__title {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
@media (max-width: 969.98px) {
  .footer__title {
    text-align: center;
  }
}
.footer__subtitle {
  max-width: 352px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: #999;
}
@media (max-width: 969.98px) {
  .footer__subtitle {
    max-width: 1000px;
    text-align: center;
  }
}
.footer__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0 65px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 969.98px) {
  .footer__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }
}
.footer__block {
  padding: 56px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 969.98px) {
  .footer__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
}
.footer__copy {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.footer__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
@media (max-width: 969.98px) {
  .footer__other {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
}
.footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  text-decoration: none;
}

.navigation__item {
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #999;
}
.navigation__item:not(:first-child) {
  margin: 0 0 5px 0;
}
.navigation__link {
  text-decoration: none;
  color: #fff;
}